@using Waterkh.Common.Memory 

<div class="simple-form blazored-modal-content">

    <div class="form-group">
        <div class="row">
            @foreach (var button in Options)
            {
                <KHButtonComponent HostName="@HostName"
                                   Name="@button.Name"
                                   ParentName="@ParentName"
                                   Cost="@button.Cost"
                                   ViewerName="@ViewerName"
                                   Value="@button.Value"
                                   ManipulationType="@button.ManipulationType"
                                   ImageUrl="@button.ImageUrl"
                                   Description="@button.Description"
                                   MethodName="@button.MethodName"
                                   IsDisabled="@button.IsDisabled"/>
            }
        </div>
    </div>

    <button @onclick="BlazoredModal.Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code { 
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }


    [Parameter]
    public string HostName { get; set; }

    [Parameter]
    public string ViewerName { get; set; }

    [Parameter]
    public string ParentName { get; set; }

    [Parameter]
    public List<ButtonTemplate> Options { get; set; }

    protected override void OnInitialized()
    {
        KH2FMCrowdControl.Data.MemoryService.OnTimerChanged += CloseModal;
    }


    // TODO Update this to check if this is user that selected the option
    protected async Task CloseModal(object sender, ChangeEventArgs e)
    {
        await BlazoredModal.Cancel();

        await InvokeAsync(() =>
        {
            base.StateHasChanged();
        });
    }
}